.mainContent{
    padding: 20px;
    background: #fff;
    min-height: 600px;
    margin: 20px;
  
  }
  .formContent{
      display: flex;
      flex-flow: row wrap;
  }
  .datePicker{
      margin-right: 20px;
      margin-bottom: 20px;
  }
  .formItem{
      margin-right: 10px;
  }
  .common{
    margin-right: 20px;
  }
  .button{
      margin-left: 40px;
  }